// mixins for SASS to use in all css files

// ---- font size calulactions -----------------------------------------------------------------

// Reset the global font size to the given value.
// Helpful if the font size should change in different responsive views.
//
// @param integer new global font size in px
// @return string new font size var and stylesheet for body
@mixin refont($px) {
  $font-size-body-px: $px;
  $font-size-body: $font-size-body-px / 16 * 100%;
  body { font-size: $font-size-body; }
}

// Calculates em so it could be used everywhere.
//
// @param integer font size in pixel
// @param integer in pixel
// @return string em
@function em($px: $line-height-px, $font-size: $ym-base-font-size) {
  @return $px / $font-size * 1em;
}

// Calculates rem so it could be used everywhere.
//
// @param integer font size in pixel
// @param integer reference size (for rem always font-size of body) in pixel
// @return string rem
@function rem($px: $line-height-px, $font-size: $ym-base-font-size) {
  @return $px / $font-size * 1rem;
}

// Calculates percent so it could be used everywhere.
//
// @param integer pixel
// @param integer reference pixel
// @return string em
@function pc($px: $line-height-px, $standard: $ym-base-font-size) {
  @return $px / $standard * 100%;
}

// Creates the font size in %
//
// @param integer font size in px
// @param integer font-size of parent element in px (if empty than it's the global font size)
// @return string css font-size with calculated % value
@mixin font-size($px, $standard: $ym-base-font-size) {
  font-size: pc($px,$standard);
}

// Prints the line-height as stylesheet-attribute in em like
// line-height: 1.5em;
//
// @param integer font size in pixel
// @param integer line-height in pixel
// @return string line height
@mixin line-height($line-height: $line-height-px, $font-size: $ym-base-font-size) {
  line-height: em($line-height, $font-size);
}

// ---- headline calulactions -----------------------------------------------------------------

@mixin headline($font-size: $font-size-body-px, $line-height: $ym-base-line-height, $margin-top: $base-margin) {
  @include font-size($font-size);
  @include line-height($line-height,$font-size);
  margin-top: em($margin-top,$font-size);
}

@mixin ym-headline($font-size: $ym-h1-font-size, $ym-base-font-size: $ym-base-font-size, $line-height: $line-height){
  $font-scale : $font-size / $ym-base-font-size;

  font-size: $font-scale * 100%;
  line-height: 2 * $line-height / $font-scale;
  margin: $line-height / $font-scale * 1em 0 0;
}