// YAML skiplinks

.ym-skiplinks { height: 24px; width: #222; }

.ym-skiplinks a.ym-skip:focus,
.ym-skiplinks a.ym-skip:active {  
  color:#fff;  
  background:#333;  
  border-bottom:1px #000 solid;
  padding:10px 0;
  text-decoration:none;
}